.review{
    padding: 20px;

    margin-top: 20px;
}

.icon {
  height: 25px;
}


.rating{
  color: yellow;
}

.review-box{
  margin-top: 20px;
  background-color: #E2DFD2;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}


