<div class="login">



  <div class="login-content">


      <h2 class="text-center">Login</h2>
      <label class="inp col-12" for="username">
        <input id="username" [(ngModel)]="username" type="text">
        <span class="label">Username</span>
        <span class="focus-bg"></span>
      </label>

      <label class="inp col-12" for="password">
        <input id="password" [(ngModel)]="password" type="password">
        <span class="label">Password</span>
        <span class="focus-bg"></span>
      </label>

      <button (click)="login()">
        LOGIN
      </button>


  </div>
</div>

<div>
</div>


