<!--<div class="login">-->
<!--  <div class="login-content">-->
<!--    <div>-->

<!--      <h2 class="text-center">Register</h2>-->


<!--      <form #registerForm=ngForm name="form" (ngSubmit)="register()">-->

<!--        <label class="inp col-12" for="inp">-->
<!--          <input placeholder=""-->
<!--                 type="text"-->
<!--                 name="email"-->
<!--                 [(ngModel)]="user!.email"-->
<!--                 #email="ngModel"-->
<!--                 minlength="3"-->
<!--                 required-->
<!--                 [ngClass]="{ 'is-invalid': email.invalid && email.touched }"-->
<!--          />-->
<!--          <span class="label">Email</span>-->
<!--          <span class="focus-bg"></span>-->
<!--        </label>-->

<!--        <div-->
<!--          *ngIf="email.invalid && email.touched"-->
<!--          class="invalid-feedback"-->
<!--        >-->

<!--          <div *ngIf="email.errors!['required']">-->
<!--            Email is required.-->
<!--          </div>-->

<!--          <div *ngIf="email.errors!['minlength']">-->
<!--            Email requires at least 4 characters.-->
<!--          </div>-->

<!--          <label class="inp col-12" for="inp">-->
<!--            <input placeholder="" id="inp" type="password" [(ngModel)]="password">-->
<!--            <span class="label">Password</span>-->
<!--            <span class="focus-bg"></span>-->
<!--          </label>-->

<!--          <label class="inp col-12" for="inp">-->
<!--            <input placeholder="" id="inp" type="password" [(ngModel)]="confirmPassword">-->
<!--            <span class="label">Confirm Password</span>-->
<!--            <span class="focus-bg"></span>-->
<!--          </label>-->

<!--          <button (click)="register()" [disabled]="!registerForm.valid" ]>-->
<!--            REGISTER-->
<!--          </button>-->
<!--        </div>-->

<!--      </form>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<!--&lt;!&ndash; &ndash;&gt;-->
