<div class="login">
    <div class="login-content">
        <div>
            <h2 class="text-center">Register</h2>
            <form #registerForm=ngForm name="form" (ngSubmit)="register()">

                <div>
                    <label class="inp col-12" for="inp">
                        <input type="text" id="inp" name="email"
                               class="inp col-12" required minlength="4" email="true"
                               [(ngModel)]="user.email" #email="ngModel">

                        <span class="label">Email</span>
                        <span class="focus-bg"></span>
                    </label>
                    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert">

                        <div *ngIf="email.errors?.['required']">
                            Email is required.
                        </div>
                        <div *ngIf="email.errors?.['minlength']">
                            Email must be at least 4 characters long.
                        </div>
                        <div *ngIf="email.errors?.['email']">
                            Email must be a valid email.
                        </div>
                    </div>
                </div>

                <div>
                    <label class="inp col-12" for="inp">
                        <input type="text" id="inp" name="password"
                               class="inp col-12" required minlength="4"
                               [(ngModel)]="user.password" #password="ngModel">

                        <span class="label">password</span>
                        <span class="focus-bg"></span>
                    </label>
                </div>

                <div>
                    <label class="inp col-12" for="inp">
                        <input type="text" id="inp" name="password"
                               class="inp col-12" required minlength="4"
                               [(ngModel)]="confirmPassword" #password="ngModel">

                        <span class="label">password</span>
                        <span class="focus-bg"></span>
                    </label>
                </div>

                <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert">
                    <div *ngIf="password.errors?.['required']">
                        Password is required.
                    </div>
                    <div *ngIf="password.errors?.['minlength']">
                        Password must be at least 4 characters long.
                    </div>
                </div>
                <div  *ngIf="!passwordsMatch" class="alert">
                    <div>
                        Passwords do not match.
                    </div>
                </div>


                <button (click)="register()">
                    REGISTER
                </button>

<!--                <button (click)="register()" [disabled]="!registerForm.valid" ]>-->
<!--                    REGISTER-->
<!--                </button>-->


            </form>
        </div>
    </div>
</div>
