<div class="login">



  <div class="login-content">
    <form>

      <h2 class="text-center">Login</h2>
      <label class="inp col-12" for="inp">
        <input placeholder="" id="inp" type="text">
        <span class="label">Email</span>
        <span class="focus-bg"></span>
      </label>

      <label class="inp col-12" for="inp">
        <input placeholder="" id="inp" type="password">
        <span class="label">Password</span>
        <span class="focus-bg"></span>
      </label>

      <button>
        LOGIN
      </button>

    </form>
  </div>
</div>


