<div class="row">
  <div class="col-5">
    <img [src]="product?.image" alt="product image" class="img-fluid">
  </div>

  <div class="col-7">
    <div class="row">
      <div class="col-6" style="margin-top: 35px">
        <h1>{{ product?.name }}</h1>
        <h4>Avg: {{ getAvgRating() | number: '1.0-1' }}/10</h4>
        <i style="color: grey; margin-top: -20px;">Amount left for sell: {{product?.quantity}}</i>
      </div>

      <div class="col-6">
        <follow-user *ngIf="product.author"  [productAuthorId]="product.authorId" [authorName]="product.author"></follow-user>
      </div>
    </div>

    <p>{{product?.description}}</p>

    <p>{{product?.price | currency:'EUR':true }}</p>

    <h2>Category:</h2>
    <p>{{product?.category}}</p>
  </div>
</div>

<div class="detail-buttons">
  <div class="row">
    <div class="col-3">
      <button class="btn btn-primary" routerLink="/sellers" routerLinkActive="active" ariaCurrentWhenActive="page">
        Back
      </button>
    </div>
    <div class="col-3" *ngIf="product.authorId === localUser.id">
      <button class="btn btn-dark" (click)="edit()">Edit</button>
    </div>
    <div class="col-3" *ngIf="product.authorId === localUser.id">
      <button class="btn btn-danger" (click)="delete()">Delete</button>
    </div>

    <div class="col-3">
      <button class="btn btn-light" (click)="openDialog()">Order</button>
    </div>
  </div>
</div>


<div class="reviews">
  <app-review
  (onReviewChange)="onReviewChange($event)"
  [reviewsOfProduct]="product?.reviews"
  [productId]="product?.id"

  ></app-review>
</div>


