
.btn {
/*  Make a button when hovered over it, it turns a different color slowley.*/
    background-color: blue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
/*  add more space on the top*/
    margin-top: 10px;
    text-align: end;
    margin-right: 10px;
}


a {
  color: #000;
  text-decoration: none;
  background-color: transparent;
}

.followingText{
  padding-left: 10px;
}

.services {
  padding: 60px 0;
  background: #cfba83;
}

.services .service-item {

  background: #97a76e;
  height: 100%;
  border-radius: 10px;
}

.card-content{
  padding: 10px;
  background-color: #E2DFD2;
}

.card-image {
  background-color: #2b2b28;
  height: 300px;
  width: 100%;
  background-size: cover;
  border-radius: 15px 15px 0 0;
}


.services .service-item .icon {

  position: initial;
}

.services .service-item .icon i {
  color: var(--color-default);
  font-size: 18px;
  transition: ease-in-out 0.3s;
  z-index: 2;
  position:absolute;


}



.services .service-item h3 {
  color: var(--color-default);
  font-weight: 700;
  margin: 0 0 20px 0;
  padding-bottom: 8px;
  font-size: 22px;
  position: relative;
  display: inline-block;
  border-bottom: 4px solid #eeeeee;
  transition: 0.3s;
}

.services .service-item p {
  line-height: 18px;
  font-size: 18px;
  margin-bottom: 0;
}

.services .service-item .readmore {
  margin-top: 15px;
  color: #cfba83;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: -3px;
  margin-right: -3px;
  font-size: 20px;
}



.services .service-item:hover .icon:before {
  background: #00b6a1;
}

.services .service-item:hover h3 {
  border-color: var(--color-primary);
}


.row {
    margin-right: 0;
    margin-left: 0;
}