<div class="row">
  <div class="col-md-4">
    <app-search-filter (searchTextChanged)="onSearchTextEntered($event)"></app-search-filter>
  </div>

  <div class="col-md-3">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Type of plant</mat-label>
        <mat-select [ngModel]="selectedCategories" #category (ngModelChange)="onChange($event)"[formControl]="categories" multiple>
          <mat-select-trigger>
            {{categories.value?.[0] || ''}}
            <span *ngIf="(categories.value?.length || 0) > 1" class="example-additional-selection">
            (+{{(categories.value?.length || 0) - 1}} {{categories.value?.length === 2 ? 'other' : 'others'}})
          </span>
          </mat-select-trigger>
          <mat-option [value]="category" *ngFor="let category of categoryList" [value]="category">{{category}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="col-md-3">
   <app-include-friends-checkbox (getBoolean)="getBoolean($event)" ></app-include-friends-checkbox>
  </div>

  <div class="col-md-2">
    <button class="btn btn-primary"
            routerLink="create"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
    >Sell your own plants?</button>
  </div>
</div>

<div *ngIf="followingChecked">
  <div class="followingText">


  <div *ngIf="followInterestProducts.length === 0">
    <h2 style="padding-bottom: 10px"> No interests available. Maybe follow more sellers! </h2>
  </div>
  <div *ngIf="followInterestProducts.length !== 0">
    <h2>Friends Interests: </h2>
  </div>
  </div>



  <div class="row gy-4" data-aos="fade-up" data-aos-delay="100">
    <div class="col-lg-4 col-md-6" *ngFor="let item of followInterestProducts">
      <div *ngIf="searchText === '' || item.name.toLowerCase().includes(searchText)">
        <div *ngIf="item.quantity != 0" class="service-item  position-relative">

          <a routerLink="{{ item.id }}"
             routerLinkActive="active"
             ariaCurrentWhenActive="page">

            <img class="card-image" [src]="item?.image" alt="image"/>

            <div class="card-content">
              <div class="row">
                <div class="col-5">
                  <div class="icon">
                    <h3 class="card-title">{{item.name}}</h3>
                  </div>
                </div>

                <div class="col-5 " *ngIf="item.category.length == 1">
                  <div class="icon">
                    <i style="right: 3px;">{{item.category[0]}}</i>
                  </div>
                </div>

                <div class="col-5 " *ngIf="item.category.length > 1">
                  <div class="icon">
                    <i style="right: 3px;">{{item.category[0]}} + ...</i>
                  </div>
                </div>

                <div class="col-2 text-end">
                  <div class="icon">
                    <i style="right: 3px;">{{item.price | currency:'EUR':true  }}</i>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div *ngIf="followInterestProducts !== 0">
      <h3>End of following interests</h3>
      <hr style="padding-bottom: 25px; padding-top: 25px; ">
    </div>

  </div>
</div>

<div class="row gy-4" data-aos="fade-up" data-aos-delay="100">
  <div class="col-lg-4 col-md-6" *ngFor="let item of products">
    <div *ngIf="searchText === '' || item.name.toLowerCase().includes(searchText)">
      <div *ngIf="item.quantity != 0" class="service-item  position-relative">

        <a routerLink="{{ item.id }}"
           routerLinkActive="active"
           ariaCurrentWhenActive="page">

          <img class="card-image" [src]="item?.image" alt="image"/>

          <div class="card-content">
            <div class="row">
              <div class="col-5">
                <div class="icon">
                  <h3 class="card-title">{{item.name}}</h3>
                </div>
              </div>

              <div class="col-5 " *ngIf="item.category.length == 1">
                <div class="icon">
                  <i style="right: 3px;">{{item.category[0]}}</i>
                </div>
              </div>

              <div class="col-5 " *ngIf="item.category.length > 1">
                <div class="icon">
                  <i style="right: 3px;">{{item.category[0]}} + ...</i>
                </div>
              </div>

              <div class="col-2 text-end">
                <div class="icon">
                  <i style="right: 3px;">{{item.price | currency:'EUR':true  }}</i>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>


<div class="row gy-4" data-aos="fade-up" data-aos-delay="100">
  <div class="col-lg-4 col-md-6" *ngFor="let item of products">
    <div *ngIf="searchText === '' || item.name.toLowerCase().includes(searchText)">
      <div *ngIf="item.quantity != 0" class="service-item  position-relative">

        <a routerLink="{{ item.id }}"
           routerLinkActive="active"
           ariaCurrentWhenActive="page">

          <img class="card-image" [src]="item?.image" alt="image"/>

          <div class="card-content">
            <div class="row">
              <div class="col-5">
                <div class="icon">
                  <h3 class="card-title">{{item.name}}</h3>
                </div>
              </div>

              <div class="col-5 " *ngIf="item.category.length == 1">
                <div class="icon">
                  <i style="right: 3px;">{{item.category[0]}}</i>
                </div>
              </div>

              <div class="col-5 " *ngIf="item.category.length > 1">
                <div class="icon">
                  <i style="right: 3px;">{{item.category[0]}} + ...</i>
                </div>
              </div>

              <div class="col-2 text-end">
                <div class="icon">
                  <i style="right: 3px;">{{item.price | currency:'EUR':true  }}</i>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>



