<div class="navbar">
  <div class="site-name col-4">
      <h2>{{message}}</h2>
  </div>
  <div class="site-menu">

    <div class="site-menu col-8">
      <a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
      <a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page" >About</a>
      <a *ngIf="isLoggedIn" routerLink="/order" routerLinkActive="active" ariaCurrentWhenActive="page">Orders</a>
      <a routerLink="/sellers" routerLinkActive="active" ariaCurrentWhenActive="page">Sellers</a>
      <a *ngIf="!isLoggedIn" routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Login</a>
      <a *ngIf="!isLoggedIn" routerLink="/register" routerLinkActive="/active"  ariaCurrentWhenActive="page">Register</a>
      <a (click)="logout()" *ngIf="isLoggedIn" routerLink="/login" routerLinkActive="/active"  ariaCurrentWhenActive="page">logout</a>
    </div>

  </div>
</div>


