

<div *ngIf="product">
  <div>
    <div class="edit-field row">
      <div class="col-12">
        <h2> You are now creating your own Plant</h2>
        <div class="row">
          <div class="input-field col-4">
            <label class="inp" for="name">
              <input id="name" type="text" [(ngModel)]="product.name" #name="ngModel" minlength="1" required>
              <span class="label">Name of plant</span>
              <span class="focus-bg"></span>
            </label>
            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert">
              <div *ngIf="name.errors?.['required']">
                Name of the plant is required.
              </div>
            </div>
          </div>

          <div class="input-field col-2">
            <label class="inp" for="inp">
              <input placeholder="" id="inp" type="number" [(ngModel)]="product.price" #price="ngModel" min="2" required>
              <span class="label">Price</span>
              <span class="focus-bg"></span>
            </label>

            <div *ngIf="price.invalid && (price.dirty || price.touched)" class="alert">
              <div *ngIf="price.errors?.['min']">
                price must be greater than 2.
              </div>
              <div *ngIf="price.errors?.['required']">
                Please enter a reasonable price.
              </div>
            </div>
          </div>

          <div class="input-field col-2">
            <label class="inp" for="inp">
              <input placeholder="" id="inp" type="number" [(ngModel)]="product.quantity" #quantity="ngModel"
              min="3" required>
              <span class="label">Quantity</span>
              <span class="focus-bg"></span>
            </label>

            <div *ngIf="quantity.invalid && (quantity.dirty || quantity.touched)" class="alert">
              <div *ngIf="quantity.errors?.['min']">
                Quantity must be greater than 2.
              </div>
              <div *ngIf="quantity.errors?.['required']">
                Please enter the amount of items you have to sell.
              </div>
            </div>
          </div>

          <div class="input-field col-4">
            <app-multiple-selecter (getSelectedValues)="sendData($event)"></app-multiple-selecter>
          </div>

          <div class="row">
            <div class="input-field col-12" style="padding: 15px 0px 15px 0px;">
              <label class="inp" for="inp" style="max-width: 70%;">
                <input placeholder="" id="inp" type="text" [(ngModel)]="product.description" #description="ngModel" required>
                <span class="label">Description</span>
                <span class="focus-bg"></span>
              </label>

              <div *ngIf="description.invalid && (description.dirty || description.touched)" class="alert">
                <div *ngIf="description.errors?.['required']">
                  Please enter a description.
                </div>
              </div>

            </div>

            <div class="input-field col-12" style="padding: 15px 0px 15px 0px;">
              <label class="inp" for="inp" style="max-width: 70%;">
                <input placeholder="" id="inp" type="text" [(ngModel)]="product.image">
                <span class="label">image link</span>
                <span class="focus-bg"></span>
              </label>

                <div>
                  <i style="color: grey">*When image link kept empty, a default 2D image wil show.</i>
                </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="update">
          <button class="btn btn-light" style="width: 30%" (click)="create()">Create Product</button>
        </div>
      </div>

      <div class="col-12">
        <button class="btn btn-primary" style="margin-top: -55px; margin-left: 10%; " routerLink="/sellers" routerLinkActive="active" ariaCurrentWhenActive="page" >Back</button>
      </div>
    </div>


  </div>
</div>




